---
import dugaluLogo from "../assets/icons/dugalu.png";
import dugaluWhiteLogo from "../assets/icons/dugalu-white.png";
import backgroundVideo from "../assets/videos/banner-video.mp4";
import adea from "../assets/images/clients/adea.png";
import detektor from "../assets/images/clients/detektor.png";
import dinant from "../assets/images/clients/dinant.png";
import indumil from "../assets/images/clients/indumil.png";
import macarena from "../assets/images/clients/macarena.png";
import manuelita from "../assets/images/clients/manuelita.png";
import prolibu from "../assets/images/clients/prolibu.png";
import segurosMundial from "../assets/images/clients/seguros-mundial.png";
import "../styles/Welcome.scss";
import backgroundVideo3 from "../assets/videos/footer-video.mp4";
import whatsapp from "../assets/images/socials/whatsapp.png";
import linkedin from "../assets/images/socials/linkedin.svg";
import instagram from "../assets/images/socials/instagram.svg";
import sales from "../assets/videos/sales.mp4";
import marketing from "../assets/videos/marketing.mp4";
import technology from "../assets/videos/technology.mp4";
import Carousel from "./Carousel.astro";
import Modal from "./Modal.astro";
---

<header>
  <p>Muy pronto conocer치s nuestro nuevo sitio web</p>
</header>

<div id="banner">
  <video id="background-video" autoplay loop muted playsinline preload="auto">
    <source src={backgroundVideo} type="video/mp4" />
    Tu navegador no soporta videos.
  </video>

  <section data-aos="fade-up" data-aos-duration="2000" id="hero">
    <img src={dugaluLogo.src} height="49" alt="Dugalu Icon" />
    <div></div>
    <h1>
      A MARKETING AND SALES <span>INNOVATION COMPANY</span> DESIGNED TO DRIVE GROWTH
      IN THE AGE OF INTELLIGENCE.
    </h1>
    <div></div>
  </section>
</div>

<div id="goal">
  <div class="content">
    <div data-aos="fade-right" class="message">
      <h2>Nuestros Servicios</h2>
      <h3>
        Integramos comunicaci칩n y tecnolog칤a para impulsar valor e impacto en
        personas y marcas.
      </h3>
    </div>

    <div class="items">
      <div class="item">
        <div class="title">
          <h3>Pauta Publicitaria</h3>
        </div>
        <div class="video-container">
          <video
            data-aos="fade-right"
            data-aos-delay="500"
            data-aos="fade-right"
            autoplay
            loop
            muted
            playsinline
            preload="auto"
          >
            <source src={marketing} type="video/mp4" />
            Tu navegador no soporta videos.
          </video>
        </div>
        <h4>
          Creamos campa침as publicitarias dirigidas en redes sociales para
          aumentar la visibilidad de tu marca, conectar con tu audiencia e
          impulsar las conversiones. Nuestro equipo optimiza cada campa침a para
          asegurar el m치ximo retorno de la inversi칩n (ROI).
        </h4>
      </div>

      <div class="item">
        <div class="title">
          <h3>Consultoria en transformaci칩n digital</h3>
        </div>
        <div class="video-container">
          <video
            data-aos="fade-right"
            data-aos-delay="600"
            autoplay
            loop
            muted
            playsinline
            preload="auto"
          >
            <source src={sales} type="video/mp4" />
            Tu navegador no soporta videos.
          </video>
        </div>
        <h4>
          Auditamos tu proceso comercial, detectamos oportunidades y desplegamos
          herramientas tecnol칩gicas que implementamos contigo para mejorar la
          eficiencia y acelerar el crecimiento de tu empresa.
        </h4>
      </div>

      <div class="item">
        <div class="title">
          <h3>Dise침o de experiencia al cliente con AI</h3>
        </div>
        <div class="video-container">
          <video
            data-aos="fade-right"
            data-aos-delay="700"
            autoplay
            loop
            muted
            playsinline
            preload="auto"
          >
            <source src={technology} type="video/mp4" />
            Tu navegador no soporta videos.
          </video>
        </div>
        <h4>
          Redise침amos la experiencia digital de tus clientes con automatizaci칩n
          cognitiva, haciendo cada interacci칩n m치s inteligente, eficiente y
          personalizada, a escala.
        </h4>
      </div>
    </div>
  </div>
</div>

<!-- <div id="services">
  <video id="background-video-2" autoplay loop muted playsinline preload="auto">
    <source src={backgroundVideo2} type="video/mp4" />
    Tu navegador no soporta videos.
  </video>

  <div class="content">
    <div class="message">
      <h2>Nuestros servicios</h2>
      <h3>
        A lo largo de 15 a침os de trayectoria, hemos tenido el privilegio de
        colaborar con peque침as y grandes empresas de diversos sectores en
        Estados Unidos y LATAM.
      </h3>
    </div>
    <div class="items" data-aos="fade-right" data-aos-duration="2000">
      <div class="item">Consultor칤a y acompa침amiento estrat칠gico</div>
      <div class="item">Inbound Marketing</div>
      <div class="item">Pauta Digital</div>
      <div class="item">Influencer Marketing</div>
      <div class="item">Dise침o UX - UI</div>
      <div class="item">Ingenier칤a web</div>
      <div class="item">Estructuraci칩n proceso de ventas</div>
      <div class="item">Capacitaci칩n equipo de ventas</div>
      <div class="item">Automatizaci칩n</div>
    </div>
  </div>
</div> -->

<div id="clients">
  <div class="content">
    <h3>Nuestros clientes</h3>
    <div class="clients">
      <img
        data-aos="fade-up"
        data-aos-delay="100"
        src={manuelita.src}
        alt="Manuelita"
      />
      <img
        data-aos="fade-up"
        data-aos-delay="200"
        src={segurosMundial.src}
        alt="Seguros Mundial"
      />
      <img
        data-aos="fade-up"
        data-aos-delay="300"
        src={dinant.src}
        alt="Dinant"
      />
      <img
        class="adea"
        data-aos="fade-up"
        data-aos-delay="400"
        src={adea.src}
        alt="Adea"
      />
      <img
        data-aos="fade-up"
        data-aos-delay="100"
        src={detektor.src}
        alt="Detektor"
      />
      <img
        data-aos="fade-up"
        data-aos-delay="200"
        src={indumil.src}
        alt="Indumil"
      />
      <img
        data-aos="fade-up"
        data-aos-delay="300"
        src={prolibu.src}
        alt="Prolibu"
      />
      <img
        data-aos="fade-up"
        data-aos-delay="400"
        src={macarena.src}
        alt="Macarena"
      />
    </div>
    <Carousel
      images={[
        manuelita,
        segurosMundial,
        dinant,
        adea,
        detektor,
        indumil,
        prolibu,
        macarena,
      ]}
    />
    <div class="buttons-container">
      <a
        class="btn pink-btn whatsapp-link"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
      >
        Quiero ser parte
      </a>
      <button class="btn white-btn" id="open-modal"> Ver m치s </button>
    </div>
  </div>
</div>

<Modal />

<footer>
  <video id="background-video-3" autoplay loop muted playsinline preload="auto">
    <source src={backgroundVideo3} type="video/mp4" />
    Tu navegador no soporta videos.
  </video>

  <div class="content">
    <img src={dugaluWhiteLogo.src} width="120" alt="Dugalu" />

    <div class="footer-items">
      <h4>
        Descubre c칩mo la tecnolog칤a puede <span>transformar</span> tu proceso de
        ventas.
      </h4>

      <div class="col">
        <div class="sec">
          <div class="item">
            <span>Cont치ctanos:</span> ntorres@dugalu.com
          </div>
          <div class="item">Tel칠fono: +573107967925</div>
        </div>
        <div class="sec">
          <div class="item">Carrera 59 # 152-19 Piso 3</div>
          <div class="item">Bogot치 - Colombia</div>
        </div>
      </div>

      <div class="socials">
        <a target="_blank" href="https://www.linkedin.com/company/dugaluco/">
          <img src={linkedin.src} alt="Linkedin" />
        </a>
        <a target="_blank" href="https://www.instagram.com/dugalutech/">
          <img src={instagram.src} alt="Instagram" />
        </a>
      </div>
    </div>
  </div>
</footer>
<div class="black-line"></div>

<a class="whatsapp-link" href="#" target="_blank" rel="noopener noreferrer">
  <div id="whatsapp-button">
    <img src={whatsapp.src} alt="Chat with us on WhatsApp" />
    <span class="tooltip">춰Hola! Estamos aqu칤 para ayudarte 游녤游낕</span>
  </div>
</a>

<script>
  const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

  const whatsappLinks = document.querySelectorAll(".whatsapp-link");
  const href = isMobile
    ? "https://wa.me/573025639562?text=춰Hola!%20Quisiera%20m치s%20informaci칩n"
    : "https://web.whatsapp.com/send?phone=573025639562&text=춰Hola!%20Quisiera%20m치s%20informaci칩n";

  whatsappLinks.forEach((link) => {
    link.href = href;
  });
</script>
