---
import dugaluLogo from '../assets/images/dugalu.png';
import backgroundVideo from '../assets/videos/banner-video.mp4';
import backgroundVideo2 from '../assets/videos/services-video.mp4';
import adea from '../assets/images/clients/adea.png'
import detektor from '../assets/images/clients/detektor.png'
import dinant from '../assets/images/clients/dinant.png'
import indumil from '../assets/images/clients/indumil.png'
import macarena from '../assets/images/clients/macarena.png'
import manuelita from '../assets/images/clients/manuelita.png'
import prolibu from '../assets/images/clients/prolibu.png'
import segurosMundial from '../assets/images/clients/seguros-mundial.png'
import '../styles/Welcome.scss';
import backgroundVideo3 from '../assets/videos/footer-video.mp4';
import whatsapp from '../assets/images/socials/whatsapp.png';
import linkedin from '../assets/images/socials/linkedin.svg';
import instagram from '../assets/images/socials/instagram.svg';
import sales from '../assets/videos/sales.mp4';
import marketing from '../assets/videos/marketing.mp4';
import technology from '../assets/videos/technology.mp4';
import Carousel from './Carousel.astro';
---

<header>
  <p>Pronto conocerás nuestro nuevo sitio web </p>
</header>

<div id="banner">
  <video id="background-video" autoplay loop muted playsinline preload="auto">
    <source src={backgroundVideo} type="video/mp4" />
    Tu navegador no soporta videos.
  </video>

  <section data-aos="fade-up" data-aos-duration="2000" id="hero">
    <img src={dugaluLogo.src} width="145" height="48.4949" alt="Dugalu Icon" />
    <div/>
    <h1>Somos una compañía especializada en <span>marketing</span>, ventas & tecnología. </h1>
    <div/>
  </section>
</div>

<div id="goal">
  <div class="content">
    <div data-aos="fade-right"  class="message">
      <h2>Nuestra Meta</h2>
      <h3>Ayudarte a organizar y alinear tres áreas clave de tu empresa: marketing, ventas y tecnología,  para que logres un crecimiento rentable y sostenible.</h3>
    </div>
  
    <div class="items">
      <div class="item">
        <div class="title">
          <span>01</span>
          <h3>Marketing</h3>
        </div>
        <div class="video-container">
          <video data-aos="fade-right" data-aos-delay="500" data-aos="fade-right" autoplay loop muted playsinline preload="auto">
            <source src={marketing} type="video/mp4" />
            Tu navegador no soporta videos.
        </div>
        </video>
        <h4>
          Impulsamos tu marca para que ganes mayor visibilidad y multipliques tus oportunidades de negocio. 
        </h4>
      </div>
  
      <div class="item">
        <div class="title">
          <span>02</span>
          <h3>Ventas </h3>
        </div>
        <div class="video-container">
          <video data-aos="fade-right" data-aos-delay="600" autoplay loop muted playsinline preload="auto">
            <source src={sales} type="video/mp4" />
            Tu navegador no soporta videos.
          </video>
        </div>
        <h4>
          Entrenamos a tu equipo comercial para que gestione mejor los leads generados por marketing, logres más ventas y tengas un mayor retorno de inversión.
        </h4>
      </div>
  
      <div class="item">
        <div class="title">
          <span>03</span>
          <h3>Tecnología</h3>
        </div>
        <div class="video-container">
          <video data-aos="fade-right" data-aos-delay="700" autoplay loop muted playsinline preload="auto">
            <source src={technology} type="video/mp4" />
            Tu navegador no soporta videos.
          </video>
        </div>
        <h4>
          Te asesoramos en la implementación y uso de la mejor tecnología para automatizar tu proceso de marketing, ventas y servicio al cliente.
        </h4>
      </div>
    </div>
  </div>
</div>

<div id="services">
  <video id="background-video-2" autoplay loop muted playsinline preload="auto">
    <source src={backgroundVideo2} type="video/mp4" />
    Tu navegador no soporta videos.
  </video>

  <div class="content">
    <div class="message">
      <h2>Nuestros servicios</h2>
      <h3>
        A lo largo de 18 años de trayectoria, hemos tenido el privilegio de colaborar con pequeñas y
        grandes empresas de diversos sectores en Estados Unidos y LATAM. 
      </h3>
    </div>
    <div class="items" data-aos="fade-right" data-aos-duration="2000">
      <div class="item">Consultoría y acompañamiento estratégico</div>
      <div class="item">Inbound Marketing</div>
      <div class="item">Pauta Digital</div>
      <div class="item">Influencer Marketing</div>
      <div class="item">Diseño UX - UI</div>
      <div class="item">Ingeniería web</div>
      <div class="item">Estructuración proceso de ventas</div>
      <div class="item">Capacitación equipo de ventas</div>
      <div class="item">Automatización</div>
    </div>
  </div>
</div>

<div id="clients">
  <div class="content">
    <h3>Algunos de nuestro clientes</h3>
    <div class="clients">
      <img data-aos="fade-up" data-aos-delay="100" src={manuelita.src} alt="Manuelita" />
      <img data-aos="fade-up" data-aos-delay="200" src={segurosMundial.src} alt="Seguros Mundial" />
      <img data-aos="fade-up" data-aos-delay="300" src={dinant.src} alt="Dinant" />
      <img class="adea" data-aos="fade-up" data-aos-delay="400" src={adea.src} alt="Adea" />
      <img data-aos="fade-up" data-aos-delay="100" src={detektor.src} alt="Detektor" />  
      <img data-aos="fade-up" data-aos-delay="200" src={indumil.src} alt="Indumil" />
      <img data-aos="fade-up" data-aos-delay="300" src={prolibu.src} alt="Prolibu" />
      <img data-aos="fade-up" data-aos-delay="400" src={macarena.src} alt="Macarena" />
    </div>
    <Carousel images={[manuelita, segurosMundial, dinant, adea, detektor, indumil, prolibu, macarena]}/>
  </div>
</div>

<footer>
  <video id="background-video-3" autoplay loop muted playsinline preload="auto">
    <source src={backgroundVideo3} type="video/mp4" />
    Tu navegador no soporta videos.
  </video>

  <div class="content">
    <img src={dugaluLogo.src} width="109" height="37" alt="Dugalu" />

    <div class="footer-items">
      <h4>¿Quieres aumentar tus ventas?</h4>

      <div class="col">
        <div class="sec">
          <div class="item">
            <span>Escríbenos: </span>conecta@dugalu.com
          </div>
          <div class="item">
            <span>Teléfono: </span>+573107967925
          </div>
        </div>
        <div class="sec">
          <div class="item">
            <span>Carrera 59 # 152-19 Piso 3</span>
          </div>
          <div class="item">
            Bogotá - Colombia 
          </div>
        </div>
      </div>
      
      <div class="socials">
        <a target="_blank" href="https://www.linkedin.com/company/dugaluco/">
          <img src={linkedin.src} alt="Linkedin" />
        </a>
        <a target="_blank" href="https://www.instagram.com/dugalutech/">
          <img src={instagram.src} alt="Instagram">
        </a>
      </div>
    </div>
  </div>
</footer>
<div class="black-line"/>

<div id="whatsapp-button">
  <a href="https://w.app/Yz2XHI" target="_blank" rel="noopener noreferrer">
    <img src={whatsapp.src} alt="Chat with us on WhatsApp" />
  </a>
  <span class="tooltip">¿Necesitas ayuda?</span>
</div>